In [1]:
import pandas as pd

In [2]:
freq_df = pd.read_csv('../../data/train/geo_prior_train.csv')

counts = freq_df.taxon_id.value_counts()

In [3]:
bins = [0, 100, 1000, float('inf')]
labels = ['rare', 'common', 'frequent']

In [7]:
df_anfull_norcal = pd.read_csv('./an_full_-1/0.1/scores.csv')

      Unnamed: 0  taxon_id  optimal_thres  fscore50
0              0     17090       0.068092  0.040122
1              1     18938       0.016933  0.246144
2              2     17556       0.029230  0.000000
3              3     18295       0.029410  0.000000
4              4     14152       0.040350  0.305670
...          ...       ...            ...       ...
2413        2413   1368519       0.097159  0.546173
2414        2414   1367368       0.311605  0.702921
2415        2415   1369291       0.119413  0.396452
2416        2416   1369292       0.441213  0.604747
2417        2417   1369303       0.636627  0.142857

[2418 rows x 4 columns]

In [8]:
df_anfull = pd.read_csv('../../new_results/an_full_-1/scores.csv', index_col="taxon_id").drop(columns=['Unnamed: 0'])
df_anfull['count'] = counts
df_anfull = df_anfull.reset_index()
df_anfull['tace'] = pd.read_csv('../calibration_metrics_results/an_full_-1/scores.csv')[['tace']]
df_anfull['tace_calib'] = pd.read_csv('./an_full_-1/-0.1/scores.csv')['tace']
df_anfull['opt_thres'] = pd.read_csv('./an_full_-1/-0.1/scores.csv')['opt_thres']
df_anfull['fscore50'] = pd.read_csv('./an_full_-1/0.1/scores_v2.csv')['fscore50']


df_anfull['count_category'] = pd.cut(df_anfull['count'], bins=bins, labels=labels, right=False)
grouped_df = df_anfull.groupby('count_category').agg({'thres': 'mean', 'fscore': 'mean', 'tace': 'mean', 'tace_calib': 'mean','opt_thres': 'mean', 'fscore50': 'mean', 'taxon_id': 'count'})
grouped_df["tace_gap"] = grouped_df['tace_calib'] - grouped_df['tace']
grouped_df

,thres,fscore,tace,tace_calib,opt_thres,fscore50,taxon_id,tace_gap
count_category,,,,,,,,
rare,0.198193,0.616756,0.130851,0.115557,0.244547,0.142161,629,-0.015293
common,0.221439,0.674039,0.124712,0.102708,0.288059,0.243810,1310,-0.022005
frequent,0.262939,0.750542,0.098746,0.074922,0.394998,0.393628,479,-0.023824

In [10]:
df_anfull = pd.read_csv('../../new_results/an_full_-1/scores.csv', index_col="taxon_id").drop(columns=['Unnamed: 0'])
df_anfull['count'] = counts
df_anfull = df_anfull.reset_index()
df_anfull['tace'] = pd.read_csv('../calibration_metrics_results/an_full_-1/scores.csv')[['tace']]
df_anfull['tace_calib'] = pd.read_csv('../iif_calibration_results/an_full_-1/scores.csv')['tace']
df_anfull['opt_thres'] = pd.read_csv('../iif_calibration_results/an_full_-1/scores.csv')['opt_thres']
df_anfull['fscore50'] = pd.read_csv('./an_full_-1/0.1/scores_v2.csv')['fscore50']

df_anfull['IF'] = pd.read_csv('../iif_calibration_results/an_full_-1/scores.csv')['IF']


df_anfull['count_category'] = pd.cut(df_anfull['count'], bins=bins, labels=labels, right=False)
grouped_df = df_anfull.groupby('count_category').agg({'thres': 'mean', 'fscore': 'mean', 'tace': 'mean', 'tace_calib': 'mean','opt_thres': 'mean', 'taxon_id': 'count', 'fscore50': 'mean', 'IF': 'mean'})
grouped_df["tace_gap"] = grouped_df['tace_calib'] - grouped_df['tace']
grouped_df

,thres,fscore,tace,tace_calib,opt_thres,taxon_id,fscore50,IF,tace_gap
count_category,,,,,,,,,
rare,0.198193,0.616756,0.130851,0.236764,0.149442,629,0.142161,37.375199,0.105913
common,0.221439,0.674039,0.124712,0.208281,0.163117,1310,0.243810,131.750382,0.083568
frequent,0.262939,0.750542,0.098746,0.164873,0.185404,479,0.393628,1560.695198,0.066127

In [84]:
df_anfull = pd.read_csv('../../new_results/an_full_1000/scores.csv', index_col="taxon_id").drop(columns=['Unnamed: 0'])
df_anfull['count'] = counts
df_anfull = df_anfull.reset_index()
df_anfull['tace'] = pd.read_csv('../calibration_metrics_results/an_full_1000/scores.csv')[['tace']]
df_anfull['fscore50'] = pd.read_csv('./an_full_-1/0.1/scores_v2.csv')['fscore50']


df_anfull['count_category'] = pd.cut(df_anfull['count'], bins=bins, labels=labels, right=False)
grouped_df = df_anfull.groupby('count_category').agg({'thres': 'mean', 'fscore': 'mean', 'tace': 'mean', 'taxon_id': 'count'})
grouped_df

                   thres    fscore      tace  taxon_id
count_category
rare            0.299565  0.607967  0.109027       629
common          0.330790  0.665682  0.098144      1310
frequent        0.224410  0.734084  0.131859       479

In [76]:
df_anfull = pd.read_csv('../../new_results/an_ssdl_1000/scores.csv', index_col="taxon_id").drop(columns=['Unnamed: 0'])
df_anfull['count'] = counts
df_anfull = df_anfull.reset_index()
df_anfull['tace'] = pd.read_csv('../calibration_metrics_results/an_ssdl_1000/scores.csv')[['tace']]

df_anfull['count_category'] = pd.cut(df_anfull['count'], bins=bins, labels=labels, right=False)
grouped_df = df_anfull.groupby('count_category').agg({'thres': 'mean', 'fscore': 'mean', 'tace': 'mean', 'taxon_id': 'count'})
grouped_df

                   thres    fscore      tace  taxon_id
count_category
rare            0.934093  0.516073  0.108828       629
common          0.859907  0.597264  0.104480      1310
frequent        0.663298  0.706069  0.082691       479

In [77]:
df_anfull = pd.read_csv('../../new_results/an_slds_1000/scores.csv', index_col="taxon_id").drop(columns=['Unnamed: 0'])
df_anfull['count'] = counts
df_anfull = df_anfull.reset_index()
df_anfull['tace'] = pd.read_csv('../calibration_metrics_results/an_slds_1000/scores.csv')[['tace']]

df_anfull['count_category'] = pd.cut(df_anfull['count'], bins=bins, labels=labels, right=False)
grouped_df = df_anfull.groupby('count_category').agg({'thres': 'mean', 'fscore': 'mean', 'tace': 'mean', 'taxon_id': 'count'})
grouped_df

                   thres    fscore      tace  taxon_id
count_category
rare            0.907397  0.393309  0.161610       629
common          0.936221  0.471490  0.154743      1310
frequent        0.873435  0.578839  0.117392       479